---
layout : default
---

<div class="row-fluid">
  <div class="span12">
    {{#collection.paginator}}
      <div class="{{ collection.resource_name}}">
        <h3 class="title"><span class="date">{{ date }}</span><a href="{{url}}">{{title}}</a> </h3>

        <ul class="tag_box">
        <li class="icon"><i class="glyphicon glyphicon-tags"></i></li>
        {{# tags }}
          {{> tags_list }}
        {{/ tags }}
        </ul>

        {{{ content }}}

      </div>
    {{/collection.paginator}}
   <div class="text-center">    
   <ul class="pagination">
   {{#collection.paginator_navigation}}
     {{#is_active_page}}
       <li class="active"><a href="{{url}}">{{name}}</a></li>
     {{/is_active_page}}
     {{^is_active_page}}
       <li><a href="{{url}}">{{name}}</a></li>
     {{/is_active_page}}
   {{/collection.paginator_navigation}}
   </ul>
   </div>
  </div>
</div>
